.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CreateUser {
  background-color: #73727e;
  min-height: 100vh;
  color: white;
}

.ReportPageOuterStyle {
  padding: 20px;
  margin: 20px;
  border: solid;
  border-width: 1px;
  border-color: black;
}

.TestHeader {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 1.5em;
  font-weight: 500;
}

.TestComponent {
  background-color: #6c61e0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.TestCompInfo {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: beige;
}

.ContentStyle_0 {
  padding-left: 5px;
  font-size: 16px;
}

.ContentStyle_1 {
  padding-left: 20px;
  font-size: 12px;
}

.ContentStyle_2 {
  padding-left: 40px;
  font-size: 10px;
}

.TOCRow:after {
  content: "";
  clear: both;
}

.TOCRow {
  border-bottom: black;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1px;
  border-style: dotted;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #c0c0c0;
}

.TOCColumnLeft {
  display: inline-block;
  width: 95%;
}

.TOCColumnRight {
  display: inline-block;
  width: 5%;
}

.TOCContainer {
  position:fixed;
  margin-top:20px;
  top: 0; 
  right:0;  
  width: 25%;
}

.TOCRowsContainer {
  max-height: 80vh;
  overflow: auto;
}

.ReportContainer {
  display: inline-block;
  width: 75%;
}
